@import "tailwindcss";

:root{
    --blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --blue-850: hsl(228, 56%, 26%);
    --blue-950: hsl(229, 57%, 11%);
}

body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@utility shadow{
    box-shadow: 0 0 0 1px rgba(355, 55, 99, 0.05);
}